body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background: lightblue;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
}

.hide {
  display: none;
}

.normal {
  display: block;
}

.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
}

#quiz-container, #result-screen {
  margin: 20px auto;
  width: 60%;
  background: lightpurple;
  padding: 20px;
  border-radius: 10px;
}

#feedback {
  margin-top: 10px;
  font-size: 16px;
}

  

